br
br
br
.container
  .row
    .col-md-12
      p.headingFont(align='center')
       =headline
br
br
.container
  .row
    p.lead
     This website gives you the pics of the famous cities in the world. Click on the city link in the top to view its amazing pictures